header {
    background-color: #354F52;
    color: #CAD2C5;
    text-align: center;
    padding: 8px;
}

table, th, td {
    border: 1px solid;
}
h2 {
   color:#2F3E46; 
}
#employees {
    background-color: #354F52;
    color: #CAD2C5;
    width: 100%;
}

table {
    border-color: #2F3E46;
    border: 2px solid;
    border-spacing: 10px;
    padding-left: 15px;
    padding-right:15px;
    border-collapse: collapse;
}

#employeeInfo {
    background-color:#CAD2C5 ;
    color: #354F52; 
}

.over-budget{
    background-color: red
}